node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/

.env
.env.*




# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
package.lock.*
yarn.lock