/* .cart-notice-preview-container{
    width :600px;
    height:100px;
    display: flex;
} */

body:has(.emoji-previewbx) .url-bar {
    position: static;
    margin: 0 auto !important;
}

body:has(.emoji-previewbx) .product-preview-card {
    min-width: 100%;
}

body:has(.emoji-previewbx) .Polaris-ShadowBevel {
    width: 100% !important;
    overflow: visible !important;
    min-width: unset !important;
    position: relative;
    z-index: 9;
}

body:has(.emoji-previewbx) .cartNoticeContainer .Polaris-Box {
    overflow: visible;
    border-radius: 10px;
}

/* body:has(.emoji-previewbx) .cartNoticeContainer .Polaris-BlockStack {
    display: flex;
    flex-direction: column;
} */
body:has(.emoji-previewbx) .product-preview-card{
    min-height: unset;
}
body:has(.emoji-previewbx) .cartNoticeContainer .color-input {
    width: 100%;
}

body:has(.emoji-previewbx) .Polaris-InlineGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50% !important;
}

.emoji-previewout {
    width: 100%;
}

.emoji-previewbx {
    width: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
}

.emoji-previewbx p.secondary-text {
    font-weight: 600;
    margin-top: 0px;
    font-size: 13px;
}

.emoji-previewbx p {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;
}
.cart-emoji {
    width: fit-content;
    font-size: 20px;
    margin:10px 0px 10px 0;
}

.addanemjoibx {
    display: flex;
    gap: 15px;
}

body:has(.emoji-previewbx) .bb-tabs-content .Polaris-Page{
    min-height: 58rem !important;
}

body:has(.cart-emoji) .emoji-previewbx{
    padding: 0 0 0 10px;
}
.emoji-previewbx .show-padding{
    padding: 10px;
}
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-info{
    color: #000;
    margin:10px 10px 10px 0;

}
.product-info .name{
   font-weight: 600;
   font-size: 20px;

}
.product-info .price{
  font-weight: bold;
  color: #636262;

}
.cart-actions{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.cart-actions .Polaris-Icon{
    margin: 0px;
    height: auto;
    width: 45px;
    padding: 10px;
}
.cart-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 15px;
}
.cart-footer .checkout-btn{
    background: #606060;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    /* color: #fff; */
}

.cart-titlebx {
    font-size: 28px;
    color: #000;
    margin: 20px 0;
}
.separator {
    border-bottom: 1px solid #aaa8a8;
    height: 34px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.separator p{
    font-size: 11px;
    color: #4f4e4e;
}