.Polaris-ShadowBevel:has(.pick-emojimain) {
    overflow: visible !important;
    min-width: unset !important;
    z-index: 9;
}
.Polaris-ShadowBevel:has(.pick-emojimain) .Polaris-Box{
    overflow: visible !important;
}
.selectGiftProduct .Polaris-Box {
    display: flex;
    justify-content: space-between;
}
.customization-left-section .Polaris-ShadowBevel .Polaris-Choice__Label .Polaris-Text--root{
    margin-bottom: 0 !important;
}

