.app-main{
    margin: 50px auto;
    max-width: 990px;
    
}
.app-main .Polaris-LegacyCard__FirstSectionPadding{
    padding: 0px;
}
.app-main .Polaris-Tabs__Tab{
    font-size: 13px;
    color: #303030;
    padding: 15px 15px;
}