.custom-color-pallete{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color-input{
    border-radius: 10px;
    border:1px solid #8A8A8A;
    height: 36px;
    width: 200px;
    padding: 10px;
}

.color-pallete-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}