.busy-buddy-announcement-bar-2 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/shapes.png);
}
.busy-buddy-announcement-bar-3 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/blue-shapes.png);
}
.busy-buddy-announcement-bar-4 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/abstract.svg);
}
.busy-buddy-announcement-bar-5 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/winter-mobile.svg);
}
.busy-buddy-announcement-bar-6 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/valentine-mobile.svg);
}
.busy-buddy-announcement-bar-7 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/hot-discounts-mobile.svg);
}
.busy-buddy-announcement-bar-8 {
    background-image: url(https://appsolve.io/asset/apps/vitals/img/smart_bar/halloween-mobile.svg);
}