.Polaris-DropZone__Container:has(.image-import-wrapper){
    padding: 10px;
}
.image-import-wrapper .Polaris-LegacyStack__Item .Polaris-Thumbnail {
    width: 98px;
    height: 98px;
}
.image-import-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}