.back-button {
    background-color: transparent;
    color: #4e4f4e;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.back-button:hover span {
    background-color: #d4d4d4;
}
.back-button span {
    margin-right: 4px;
    padding: 4px;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: content-box;
    font-size: 16px;
    color: #4a4a4a;
}
.back-button{
    font-size: 20px;
    color: #303030;
    font-weight: 600;
    padding-left: 0;
}