
.Polaris-InlineStack div:has(.favourite-count){
    position: relative;
    top: -1px;
} 

.favourite-count {
    background-color: #ccd3de;
    padding: 3px 6px;
    margin-left: 4px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    border-radius: 15px;
    place-content: center;
    position: relative;
}

.widgets .Polaris-LegacyCard{ padding-bottom: 30px;}
 