.ProgressBarCountdown {
    display: flex;
    /* align-items: center; */
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ff4e4e;
  }
  
  .ProgressBarCountdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 10px; */
  }
  
  .ProgressBarCountdown-number {
    font-size: 30px;
    font-weight: bold;
    /* color: #ff4e4e; */
    /* background-color: #b0d6ff; */
    /* padding: 10px 20px; */
    border-radius: 5px;
  }
  
  .ProgressBarCountdown-label {
    margin-top: 0px;
    font-size: 14px;
    color: #7f7f7f;
  }
  
  .ProgressBarCountdown-divider {
    font-size: 14px;
    color: #555555;
    padding-inline: 4px;
  }
  .Polaris-ProgressBar{
    margin-block: 10px ;
  }
  .ProgressBarCountdown-number{
    font-size: 20px;
    font-weight: 300;
  }
  .Polaris-ProgressBar--toneHighlight{
    background-color: #efefef;
  }
  .Polaris-ProgressBar__Indicator{
    background-color: #cccccc;
  }
  .RIGHT {
    .ProgressBarCountdown{
      justify-content: right;
      padding-left: 0 !important;
    }
  }
  .CENTER {
    .ProgressBarCountdown{
      justify-content: center;
    }
  }
